{% extends "app/base.html" %}

{% block title %}Add Comment{% endblock %}

{% block content %}
<h1>Add Comment</h1>
<div class="card">
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn btn-primary">Submit Comment</button>
            <a href="{% url 'app:blog-detail' blog.pk %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>
{% endblock %} 